.title {
    color:#048686;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 40px;
}

.description {
    color: #8AC3C3;
    padding: 15px;
    margin: 10px;
    font-size: 25px;
}
