.container {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    height: 120%;
    
}

.block {
    background-color: #8AC3C3;
    color: #005757;
    font-family: sans-serif;
    padding: 100px 0 0 35px;
    font-size: 25px;
}

.landpage {
    font-family: sans-serif;
    text-align: center;
}

.landpage > h1 {
    color: #048686;
    padding: 30px 10px;
    font-size: 58px;
}

.landpage > p {
    color: #8AC3C3;
    padding: 10px 40px 80px;
    font-size: 25px;
}

.landpage > a {
    width:30%;
    height:40px;
    margin: 8px 0;
    text-decoration: none;
    background: #048686;
    border-radius: 4px;
    font-size: 18px;
    padding: 20px 24px;
    font-weight: 600;
    letter-spacing: 0.025em;
    color: white;
    transition: all 0.125s ease;
    text-align: center;
    float:center;
    position: relative;
}

.landpage > a:hover {
    background-color: #2eb3b3;
}