.nav {
    height: 10%;
    display: flex;
    width: 100%;
    padding: 32px;
    border-right: 1px solid #eaeaea;
    box-sizing: border-box;
    font-family: sans-serif;
    padding-top: 50px;
  }

  .nav > div {
      float: left;
      width: 70%;
      height: 20%;
      font-size: 40px;
      letter-spacing: 0.025em;
      color: #048686;
      text-align: left;
      font-weight: bold;
      transition: all 0.125s ease;
  }

  .nav > div:hover {
    font-size: 42px;
  }
  
  .nav > a {
    width:30%;
    height:40px;
    margin: 8px 0;
    text-decoration: none;
    background: white;
    border-radius: 4px;
    font-size: 18px;
    padding: 12px 16px;
    font-weight: 600;
    letter-spacing: 0.025em;
    color: #048686;
    border: 1px solid #eaeaea;
    transition: all 0.125s ease;
    text-align: center;
    float:center;
    position: relative;
  }
  
  .nav > a:hover {
    background-color: #eaeaea;
    font-size: 20px;
  }
