.main {
    display: block;
    color:#048686;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 30px

  }
  
.main > img {
    border:2px solid #048686;
    border-radius: 20px;
    padding:20px 40px;
}