.container {
  border-radius: 20px;
  border: 1px solid #048686;
  display: grid;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  grid-template-columns: 1.4fr 0.6fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-template-areas:
    "Tweet ."
    "Comment Comment"
    "Author Date";
}

.tweet {
  grid-area: Tweet;
}

.comment {
  grid-area: Comment;
  font-weight: lighter;
}

.author {
  grid-area: Author;
}

.date {
  grid-area: Date;
}

.title {
    color:#048686;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 40px;
   
}

.description {
  color: #8AC3C3;
  padding: 10px;
  margin: 10px;
  font-size: 25px;
  padding-top: 40px;

}


