/*Update later: CSS is outdated */
.main {
        padding: 0 70px;
        margin: 20;
        font-size:20px;
        
}

.main > Item {
    background: green;
    
}

.main > FormRow {
  border: 1px solid #048686;
}

